<div class="jumbotron-fluid center">

<h1> Showing selected article </h1>

<p>
  Ttile: <%= @article.title %>
</p>

<p>
  Description: <%= @article.description %>
</p>

<%= link_to 'Edit this article', edit_article_path(@article) %> |
<%= link_to 'Back to article listing', articles_path %>
</div>
