<div class="jumbotron formjumbotron" style="margin-left: auto; margin-right: auto; width: 700px; background-color: transparent" >
  <h1 class="display-1 font-weight-bolder text-dark">About</h1>
  <br />
  <br />
  <h4><%= link_to 'Home', root_path, class: 'btn btn-dark' %> <%= link_to 'Articles', articles_path, class: 'btn btn-info' %></h4>
</div>