<div class="center jumbotron jumbotron-fluid">
  <h1 class="display-1 font-weight-bolder text-light">Hello there!</h1>
  <br />
  <br />
  <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg" %>
</div>