@import "bootstrap/scss/bootstrap";

.center {
  text-align: center;
}
.jumbotronhome {
  background-image: asset-url('image.jpeg');
  background-size: cover;
  height: 550px;
}

.t-white {
  color: black;
  font-weight: bold;
}