<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="www.dutyventures.com" target="_blank">Duty Ventures</a>
      by <a href="www.raluca.rusu.io" target="_blank">Raluca Rusu.</a>
    </small>
  </footer>
</div>